<!DOCTYPE html>
<html ng-app="sz.client">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href="//91.142.158.9/static/css/bootstrap-3.0.0/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="//91.142.158.9/static/css/font-awesome-4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//91.142.158.9/static/css/mobile.css" media='all and (max-width: 711px)'/> 
    <link rel="stylesheet" href="//91.142.158.9/static/css/tablet.css" media='all and (min-width: 712px) and (max-width: 989px)'/>
    <!--[if IE]> <link rel="stylesheet" href="//tlvx.ru/static/css/pc.css" /> <![endif]-->
    <link rel="stylesheet" href="//91.142.158.9/static/css/pc.css" media='all and (min-width: 990px)'/> 
    <link rel="stylesheet" href="//91.142.158.9
/static/css/tlvx.css" /> 
    <link rel="icon" type="image/png" href="91.142.158.9/static/img/favicon.png" />
    <meta name="description" content="Интернет провайдер Телевокс - Интернет в каждый дом!" />
    <title>Televox</title>
    <style type="text/css">
      ul{list-style-position: inside;}
      a{text-decoration: underline;}
    </style>
  </head>
  <body>
    <div id="wrap" >
      <header></header>
      <section id="main" class="clearfix">
        <div class="content-inner">
          <h1>Уважаемый абонент!</h1>
          <p>Если вы видите эту страницу, то <strong>у вас закончились деньги на счету</strong>.</p>
          <p>Вы можете <strong>пополнить счет</strong> одним из следующих способов:</p>
          <ul style="line-height: 2">
            <li>
              <a href="http://tlvx.ru/!/sberbank_online">
                Безналичным путем с помощью Сбербанк ОнЛ@йн;
              </a></li>
            <li>
              <a href="http://91.142.158.9/!/payment/vtb_online">
                Безналичным путем с помощью ВТБ24-Онлайн;
              </a></li>
            <li>
              Наличными в <strong>терминалах Симфонии и Уникплат;
              </strong></li>
            <li>
                Наличными в банкоматах <strong>Тэмбр-банк, Сбербанк, ВТБ24 и кассах ДВ-Пэй;
              </strong></li>
            <li>
              <a href="http://tlvx.ru/!/payment/elmoney">
                Безналичным путем с помощью электронных платежей (Яндекс Деньги, WebMoney).
              </a></li>
          </ul>
          <p>После пополнения счета вам необходимо <strong>переподключить интернет-соединение</strong>.</p>
          <br>
          <h4>Круглосуточный телефон техподдержки 777-444.</h4>
        </div>
      </section>
    </div>
    <footer>
      <div class="content-inner">
        <div class="content-inner-left" style="font-size: 12px">
          &copy; ООО "Телевокс", 2008-2017<br>
          Свидетельство о регистрации СМИ  Эл № ФС77-46508 от 09.09.2011 г. выданное Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)
        </div>
      </div>    
  </footer>

  </body>
</html>
